.about {
    padding: 62px 0;
}

.about__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    max-width: 904px;
    margin-bottom: 24px;
}

.about__desctiption {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #BFBDB2;
    max-width: 696px;
    margin-bottom: 72px;
}

.about__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-top: 0;
}

.about__item {
    width: 384px;
    height: 90px;
}

.about__item {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.about__item:last-child {
    padding-right: 0;
}

.about__item-image {
    width: 80px;
    height: 80px;
    margin-right: 16px;
}

.about__item-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 8px;
}

.about__item-desctiption p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #BFBDB2;
}

@media(max-width: 1024px) {
    .about__list {
        margin-left: -40px;
    }

    .about__item {
        display: inline-block;
    }
}

@media(max-width: 768px) {
    .about {
        padding: 40px 0;
    }

    .about__title {
        font-size: 32px;
    }

    .about__desctiption{
        margin-bottom: 32px;
    }

    .about__list {       
        flex-wrap: wrap;
    }

    .about__item {
        width: 320px;
        margin: 0;
    }

    .about__item:last-child {
        width: 320px;
        margin: 0;
        padding-top: 0px;
    }

    .about__item-content{
        width: 224px;
        margin: -80px 96px;
    }

    .about__item-title {
        font-size: 16px;
    }

    .about__item-description {
        font-size: 16px;
    }
}

@media(max-width: 560px) {
    .about {
        padding: 32px 0;
    }

    .about__title {
        font-size: 20px;
    }

    .about__desctiption {
        font-size: 12px;
        margin-bottom: 32px;
    }

    .about__list {
        flex-direction: column;
    }

    .about__item {
        display: flex !important;
        flex-direction: row;
    }

    .about__item-image {
        width: 64px;
        height: 64px;
    }

    .about__item-content{
        width: 272px;
        margin: 0;
    }

    .about__item-title {
        font-size: 16px;
    }
}