.reserve {
}
.reserve__title {
}
.reserve__list {
}
.reserve__item {
}
.reserve__form {
}
.reserve__form-container {
}
.reserve__fieldset {
}
.reserve__legend {
}

.reserve__fieldset-sub {
}
.reserve__btn {
}
.main-link {
}



/* .reserve{
    padding: 62px 0;
}

@media(max-width: 768px) {
    .reserve {
        padding: 40px 0;
    }
}

@media(max-width: 560px) {
    .reserve{
        padding: 32px 0;
    }
} */